.exercises-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.search-bar {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search-input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 10px;
  flex-grow: 1;
}

.clear-button {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  padding: 0;
  background: none;
  border: none;
  font-size: 18px;
  color: grey;
  cursor: pointer;
  transition: color 0.3s;
}

.clear-button:hover {
  color: red;
}

.search-button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #0056b3;
}

.title {
  background-color: green;
}

.filter-section {
  background-color: red;
}

.filterSectionTitle {
  font-size: large;
  cursor: pointer;
  font-weight: bold;
}

.arrow {
  background-color: black;
  padding: 20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
  border-width: 3px 3px 0;
  position: absolute;
  top: 50%; /* Adjust this to control the spacing */
  right: -12px;
  transform: translateX(-50%) rotate(180deg); /* Rotate the arrow 180 degrees to make it face up */
}

.up-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
  border-width: 3px 3px 0;
  position: absolute;
  top: 50%; /* Adjust this to control the spacing */
  right: -12px;
  transform: translateX(-50%) rotate(180deg); /* Rotate the arrow 180 degrees to make it face up */
}

.down-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
  border-width: 3px 3px 0;
  position: absolute;
  top: 50%;
  right: -12px; /* Adjust this to control the spacing */
  transform: translateX(-50%);
}


.exercise-list {
  width: 100%;
}

.exercise-entry {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.exercise-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  margin-bottom: 10px;
}

.exercise-actions {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.exercise-name {
  font-weight: bold;
}

.details-button {
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.details-button:hover {
  background-color: #ddd;
}

.hide-button {
  background-color: #f0f0f0;
  color: #888;
}

.view-button {
  background-color: #007bff;
  color: white;
}

.add-button {
  padding: 5px 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-button:hover {
  background-color: #1e7e34;
}

.seperator {
  height: 1px;
  background-color: #ddd;
  margin-top: 10px;
}

.details-section {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}
