.home {
  text-align: center;
  padding: 100px;
  background-color: #f7f7f7;
}

.home h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.workout-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.workout-link:hover {
  background-color: #0056b3;
}
